.DS_Store
node_modules
/build
**/build
/dist
**/dist
.env
.env.*
!.env.example
**/*.spec.ts
cypress
__generated__

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore test coverage
**/coverage
