<div class="bg-white">
    <div class="pb-3">
        <div class="py-3 px-6 flex justify-end">
            <button data-cy="logout-button" class="btn btn-secondary" (click)="goBack()">
                <svg class="w-5 h-5 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                </svg>
                <span class="ml-2">Volver</span>
            </button>
        </div>
        <!-- Image gallery -->
        <div class="mx-auto max-w-2xl sm:px-6 grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="aspect-h-4 aspect-w-3 overflow-hidden rounded-lg block">
                <img src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
                    alt="Front of men&#039;s Basic Tee in black."
                    class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>

            <!-- Product info -->
            <div class="">
                <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Basic Tee 6-Pack</h1>
                <div class="space-y-6">
                    <p class="text-base text-gray-900">The Basic Tee 6-Pack allows you to fully express your vibrant
                        personality with three grayscale options. Feeling adventurous? Put on a heather gray tee. Want
                        to be a trendsetter? Try our exclusive colorway: &quot;Black&quot;. Need to add an extra pop of
                        color to your outfit? Our white tee has you covered.</p>
                </div>
            </div>


        </div>
    </div>
</div>