<div class="bg-white">
    <div class="pb-3">
        <div class="py-3 px-6 flex justify-end">
            <button data-cy="logout-button" class="btn btn-secondary" (click)="goBack()">
                <svg class="w-5 h-5 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                </svg>
                <span class="ml-2">Volver</span>
            </button>
        </div>
        <!-- Image gallery -->
        <div class="mx-auto max-w-2xl sm:px-6 grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="aspect-h-4 aspect-w-3 overflow-hidden rounded-lg block">
                <img [src]="product.imgUrl"
                    [alt]="'Imagen de ' + product.name?.toLowerCase()"
                    class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>

            <!-- Product info -->
            <div class="flex flex-col mt-3 lg:mt-0">
                <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl mb-0">{{product.name}}</h1>
                <p class="mt-1 text-lg text-gray-500 mb-6">{{product.binomialName}}</p>
                <div class="space-y-2 mb-8">
                    <p class="text-base text-gray-900"><b class="font-bold">Riegos por semana:</b> {{product.wateringsPerWeek}}</p>
                    <p class="text-base text-gray-900"><b class="font-bold">Fertilizante recomendado:</b> {{product.fertilizerType}}</p>
                    <p class="text-base text-gray-900"><b class="font-bold">Altura:</b> {{product.heightInCm}}cm</p>
                </div>
                <div class="flex place-self-end mt-auto">
                    <p class="text-3xl font-medium text-gray-900">{{product.price}}€</p>
                </div>
            </div>


        </div>
    </div>
</div>